In [1]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv("../Data/val.csv")

In [5]:
df.head()

,Unnamed: 0,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,4688,40041,Male,31.0,0,0,No,Self-employed,Rural,64.85,23.0,Unknown,0
1,4478,55244,Male,40.0,0,0,Yes,Self-employed,Rural,65.29,28.3,never smoked,0
2,3849,70992,Female,8.0,0,0,No,children,Urban,74.42,22.5,Unknown,0
3,4355,38207,Female,79.0,1,0,Yes,Self-employed,Rural,76.64,19.5,never smoked,0
4,3826,8541,Female,75.0,0,0,Yes,Govt_job,Rural,94.77,27.2,never smoked,0

In [8]:
X = df.iloc[:, 1:-1]

In [10]:
y = df.iloc[:, -1]

In [11]:
to_drop = ["id", "gender", "ever_married"]
X = X.drop(axis = 1, labels=to_drop)

In [13]:
X.head()

,age,hypertension,heart_disease,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,31.0,0,0,Self-employed,Rural,64.85,23.0,Unknown
1,40.0,0,0,Self-employed,Rural,65.29,28.3,never smoked
2,8.0,0,0,children,Urban,74.42,22.5,Unknown
3,79.0,1,0,Self-employed,Rural,76.64,19.5,never smoked
4,75.0,0,0,Govt_job,Rural,94.77,27.2,never smoked